* {
  box-sizing: border-box;
}

.ChatInpuDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
.chat-character {
  height: 45vh;
  padding-top: 6vh;
  position: absolute;
  outline: none;
  border: 0;
  mask-image: -webkit-radial-gradient(white, black);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  z-index: 1;
  @media (max-width: 500px) {
    height: 40vh;
    padding-top: 4vh;
  }
}
.chat-characterimg {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45vh;
  padding-top: 6vh;
  outline: none;
  border: 0;
  z-index: 1;
  @media (max-width: 500px) {
    height: 40vh;
    padding-top: 4vh;
  }
}
.chat-character embed,
.chat-character object {
  position: absolute;
  width: 100%;
  height: 100%;
}
.chat-window {
  display: flex;
  position: relative;
  overflow-y: hidden;
  width: 100%;
  background-color: white;
  height: calc(var(--vh, 1vh) * 100);
  /* @media (max-width: 768px) {
    height: 94vh;
  } */
}

.chat-messages {
  position: absolute;
  top: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 55px;
  z-index: 0;
  @media (max-width: 500px) {
    top: 36vh;
  }
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.user-message {
  align-self: flex-end;
  background-color: #d2ebff;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  max-width: 60%;
}

.bot-message {
  align-self: flex-start;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 8px;
  max-width: 60%;
  margin-top: 10px;
  white-space: pre-wrap;
}

.chat-input {
  position: absolute;
  height: 55px;
  display: flex;
  width: 100%;
  bottom: 0;
  margin-bottom: 5px;
  z-index: 10;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  @media (max-width: 639px) {
    margin-left: 10px;
  }
}

.chat-input input {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  width: calc(100% - 85px);
  border-radius: 10px;
  outline: none;
  @media (max-width: 639px) {
    width: calc(100% - 55px);
  }
}

.chat-input input:focus {
  outline: none;
}

.chat-input button {
  background-color: white;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  padding-top: 3px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
