.ChatInpuDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
.chat-character {
  height: 40vh;
  padding-top: 5vh;
  position: absolute;
  outline: none;
  border: 0;
  mask-image: -webkit-radial-gradient(white, black);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  z-index: 1;
  @media (max-width: 639px) {
    height: 30vh;
    padding-top: 5vh;
  }
}

.chat-character embed,
.chat-character object {
  position: absolute;
  width: 100%;
  height: 100%;
}

.chat-window {
  display: flex;
  position: absolute;
  overflow-y: hidden;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  /* @media (max-width: 768px) {
    height: 94vh;
  } */
}

.chat-messages {
  height: 60vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  padding: 8px;
  position: relative;
  margin-top: 50px;
  z-index: 0;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.user-message {
  align-self: flex-end;
  background-color: #d2ebff;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  max-width: 60%;
}

.bot-message {
  align-self: flex-start;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 8px;
  max-width: 60%;
}

.chat-input {
  position: absolute;
  height: 55px;
  display: flex;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
  z-index: 10;
  box-sizing: border-box;
  padding: 10px;
  background-color: #f5f5ff;
}

.chat-input input {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  width: calc(100% - 65px);
  border-radius: 10px;
  outline: none;
}

.chat-input input:focus {
  outline: none;
}

.chat-input button {
  background-color: #f5f5ff;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  padding-top: 3px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
