.modal-content {
  width: 60vh; /* 기본은 60vh */
  inset: unset;
  margin: 50vh auto;
  padding: 5px;
  transform: translateY(-50%);
  position: relative;
}
.modal-content2 {
  width: 60vh; /* 기본은 60vh */
  inset: unset;
  margin: 50vh auto;
  padding: 5px;
  transform: translateY(-50%);
  position: relative;
}

@media (max-width: 500px) {
  .modal-content {
    width: 100vw; /* 모바일에서는 너비를 100vw로 설정 */
    margin: 50vh auto;
  }
  .modal-content2 {
    width: 100vw;
    margin: 50vh auto;
  }
}
