/* myModalStyles.css */
.modal-overlay {
  z-index: 1000;
  background-color: #00000070;
}

.modal-content {
  width: 60vh;
  inset: unset;
  margin: 50vh auto;
  padding: 0;
  transform: translateY(-50%);
  position: relative;
}

@media (max-width: 768px) {
  .modal-content {
    width: auto;
  }
}
