.container {
  background-color: #e3ecf1;
}
.sidebar {
  background-color: #e3ecf1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 100%;
  z-index: 99;
}
.button {
  position: relative;
  left: 330px;
  top: 7px;
  width: 40px;
  height: 30px;
  transition: 0.8s ease;
  overflow: hidden;
  font-weight: bold;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: medium;
}
.content {
  padding: 40px 40px 0 20px;
  position: relative;
  width: 100%;
}
.icon {
  margin: 0;
  color: #202020;
}
